<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ask Mate</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>

<h1>Ask Mate Test</h1>
    <table>
        <thead>
            <tr>
                {% for header in headers %}
                    <th>
                        {{ header }}
                    </th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for question in questions %}
                <tr>
                    {% for key in question_keys %}
                        <th>

                            {{ question[key] }}



                        </th>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>

</body>
</html>